<div class="top-row ps-3 navbar navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Registro técnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler " />

<div class="nav-scrollable bg-danger" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Crear Técnico -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/Tecnicos/Create">
                <span class=" bi bi-person-fill-add fs-4" style="line-height: 1;"></span>
                <span class="ms-2" style="line-height: 1.2;">Crear t&eacute;cnico</span>
            </NavLink>
        </div>

        <!-- Tecnicos lista -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="Tecnicos/Index">
                <span class="bi bi-person-lines-fill fs-4" style="line-height: 1;"></span>
                <span class="ms-2" style="line-height: 1.2;">T&eacute;cnicos</span>
            </NavLink>
        </div>


        <!--Crear tipo tecnico-->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="TiposTecnicos/CreateTipoTecnico">
                <span class="i bi-plus-lg fs-4" style="line-height: 1;"></span>
                <span class="ms-2" style="line-height: 1.2;">Crear tipo t&eacute;cnico</span>
            </NavLink>
        </div>

        <!--Tipos tecnico lista-->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="TiposTecnicos/IndexTipoTecnico">
                <span class="bi bi-list-check fs-4" style="line-height: 1;"></span>
                <span class="ms-2" style="line-height: 1.2;">Tipos t&eacute;cnicos</span>
            </NavLink>
        </div>
    </nav>
</div>

