@page "/Clientes/IndexCliente"
@rendermode InteractiveServer
@inject ClienteService clienteService
@inject NavigationManager navigation

<PageTitle>Clientes</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header bg-primary text-white text-center">
			<h2 class="Clientes"><strong>Registro clientes</strong> <i class="bi bi-people-fill"></i></h2>
		</div>

		<div class="card-body">
			@*labels*@
			<div class="row">

				@*Filtrar por*@
				<div class="col-3">
					<label for="filtro" class="col-form-label"><strong>Filtrar por</strong></label>
				</div>

				@*ValorFiltro*@
				<div class="col-4">
					<label for="valorFiltro" class="col-form-label"><strong>B&uacute;squeda</strong></label>
				</div>

			</div>

			@*Inputs y botones*@
			<div class="row align-items-center">
				@*Filtrar*@
				<div class="col-md-3">
					<InputSelect id="filtro" class="form-select" @bind-Value="Filtro">
						<option value="" selected disabled>Elija una opci&oacute;n</option>
						<option value="id">ClienteID</option>
						<option value="NombreCliente">Nombre cliente</option>
						<option value="WhatsApp">WhatsApp</option>
					</InputSelect>
				</div>

				@*Buscar*@
				<div class="col-md-6">
					<div class="input-group">
						<InputText id="valorFiltro" @bind-Value="ValorFiltro" class="form-control" placeholder="Buscar" />
						<button @onclick="Buscar" class="btn btn-outline-primary bi bi-search" type="button"> Buscar</button>
					</div>
				</div>

				@*Restablecer*@
				<div class="col-3">
					<button type="button" class="btn btn-outline-secondary bi bi-arrow-counterclockwise"
							@onclick="Restablecer">
					</button>
				</div>
			</div>

			<a href="/Clientes/CreateCliente" class="btn btn-outline-primary bi bi-plus-square mt-3"> Crear</a>
			<table class="table table-hover text-center mt-3">
				<thead class="table table-striped text-black ">
					<tr>
						@*Id*@
						<th>Cliente ID</th>
						@*NombreCliente*@
						<th>Nombre cliente</th>
						@*WhatsApp*@
						<th>WhatsApp</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var cliente in Cliente)
					{
						<tr>
							<td class="text-center">@cliente.ClienteId</td>
							<td class="text-center">@cliente.Nombres</td>
							<td class="text-center">@String.Format("{0:(###) ###-####}", long.Parse(cliente.WhatsApp))</td>

							<td class="text-center">
								<a href="/Clientes/View/@cliente.ClienteId" class="btn btn-outline-primary bi bi-eye"></a>
								<a href="/Clientes/Edit/@cliente.ClienteId"
								   class="btn btn-outline-primary bi bi-pencil-square"></a>
								<a href="/Clientes/Delete/@cliente.ClienteId" class="btn btn-outline-danger bi bi-trash"></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="card-footer">
			<label class="ms-3"><strong>Cantidad:</strong> @Cliente.Count</label>
		</div>
	</div>
</div>

@code {
	public List<Clientes> Cliente = new List<Clientes>();
	public string Filtro = "";
	public string ValorFiltro = "";

	protected override async Task OnInitializedAsync()
	{
		Cliente = await clienteService.Listar(t => true);
	}

	public async Task Buscar()
	{
		if (!string.IsNullOrWhiteSpace(ValorFiltro))
		{
			switch (Filtro)
			{
				case "id":
					if (int.TryParse(ValorFiltro, out int id))
					{
						Cliente = await clienteService.Listar(c => c.ClienteId == id);
					}
					break;

				case "NombreCliente":
					Cliente = await clienteService.Listar(c => c.Nombres.ToLower().Equals(ValorFiltro.ToLower()));
					break;
				case "WhatsApp":
					Cliente = await clienteService.Listar(c => c.WhatsApp.ToLower().Equals(ValorFiltro.ToLower()));
					break;

			}
		}

	}

	private async Task Restablecer()
	{
		Cliente = await clienteService.Listar(e => e.ClienteId > 0);
		Filtro = string.Empty;
		ValorFiltro = string.Empty;
	}

}
