@page "/Tecnicos/Create"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation
@inject IJSRuntime js

<PageTitle> Nuevo Técnico</PageTitle>
<EditForm Model="tecnico" OnValidSubmit="Crear">
    <DataAnnotationsValidator />
    <div class="container"></div>
    <div class="card shadow-lg">
        <div class="card-header bg-danger text-white text-center bi bi-person-add fs-1">
            <h2>Agregar técnico</h2>
        </div>
        <div class="card-body">
            <label for="id" class="form-label">ID</label>
            <InputNumber id="id" class="form-control" @bind-Value="tecnico.TecnicoId" readonly></InputNumber>

            <label for="nombre" class="form-label">Nombre Técnico</label>
            <InputText id="nombre" class="form-control" @bind-Value="tecnico.NombreTecnico" placeholder ="Juan Perez"></InputText>
            <ValidationMessage For="@(() => tecnico.NombreTecnico)"></ValidationMessage>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert-danger bi-exclamation-triangle-fill ">@errorMessage</div>

            }

            <label for="sueldoHora" class="form-label">Sueldo Hora</label>
            <InputNumber id="sueldoHora" class="form-control" @bind-Value="tecnico.SueldoHora" placeholder ="0"/>
            <ValidationMessage For="@(() => tecnico.SueldoHora)"></ValidationMessage>

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary bi bi-box-arrow-in-left" @onclick="Volver"> </button>
            <button type="submit" class="btn btn-danger bi bi-person-fill-down"></button>
        </div>
    </div>
</EditForm>

@code {
    public Tecnicos tecnico { get; set; } = new Tecnicos();
    public string errorMessage{ get; set; }

    public async Task Crear()
    {
        if (await tecnicoService.ValidarTecnico(tecnico.NombreTecnico))
        {
          errorMessage = "El nombre del técnico ya existe. Por favor, elija otro.";
        }
        else
        {
            await tecnicoService.Insertar(tecnico);
            tecnico = new Tecnicos();
            navigation.NavigateTo("/Tecnicos/Index");
        }
    }

    public void Volver()
    {
        navigation.NavigateTo("/Tecnicos/Index");
    }
}