@page "/Tecnicos/Delete/{TecnicosId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation

<PageTitle>Eliminar técnico</PageTitle>
<EditForm Model="tecnicos" OnValidSubmit="EliminarTecnico">
	<DataAnnotationsValidator />
	<div class="card-shadow-lg">
		<div class="card-header bg-danger text-white text-center">
			<h2>Eliminar técnico</h2>
		</div>
		<div class="card-body">
			<h6><strong>¿Seguro que deseas eliminar este Técnico?</strong></h6>
			<p class="mb-0">Tecnico Id: @tecnicos.TecnicoId</p>
			<div class="mb-1">
				<p class="mb-0">Nombre Tecnico: @tecnicos.NombreTecnico</p>
				<div class="mb-1">
					<p class="mb-0"> Sueldo por hora: @tecnicos.SueldoHora</p>
					<div class="mb-1">
					</div>
				</div>

				<div class="card-footer">
					<button type="button" class="btn btn-secondary text-white bi bi-box-arrow-in-left" @onclick=Volver> </button>
					<button type="button" class="btn btn-danger bi bi-trash" @onclick=EliminarTecnico> </button>
				</div>
			</div>
		</div>
	</div>
</EditForm>



@code {

	[Parameter]
	public int TecnicosId { get; set; }
	public Tecnicos tecnicos { get; set; } = new Tecnicos();

	protected override async Task OnInitializedAsync()
	{
		if (TecnicosId > 0)
		{
			tecnicos = (await tecnicoService.Buscar(TecnicosId));
		}

	}

	public async Task EliminarTecnico()
	{
		var eliminar = await tecnicoService.Eliminar(tecnicos.TecnicoId);

		if (eliminar)
		{
			Volver();
		}

	}

	public void Volver()
	{
		navigation.NavigateTo("/Tecnicos/Index");
	}
}