@page "/Tecnicos/Details/"
@page "/Tecnicos/Details/{TecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation


<PageTitle>Detalles t&eacute;cnico</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header bg-danger text-white text-center"
			<h3><strong>Detalles t&eacute;cnico</strong> <i class="bi bi-person-bounding-box fs-2"/></h3>
		</div>
	</div>
	@*Body*@
	<div class="card-body">
		@if (Tecnico != null)
		{
			@*Datos*@
			<div class="mb-1">
				@*TecnicoId*@
				<p class="mb-0"><strong>T&eacute;cnico ID:</strong> @Tecnico.TecnicoId</p>
				@*NombreTecnico*@
				<div class="mb-1">
					<p class="mb-0"><strong>Nombre t&eacute;cnico:</strong> @Tecnico.NombreTecnico</p>
				</div>
				@*DescripcionTipoTecnico*@
				<div class="mb-1">
					<p class="mb-0"><strong>Descripci&oacute;n:</strong> @Tecnico.TipoTecnico.Descripcion</p>
				</div>

				@*SueldoHora*@
				<div class="mb-1">
					<p class="mb-0"><strong>Sueldo hora:</strong> @Tecnico.SueldoHora</p>
				</div>
			</div>
		}
	</div>
	@*Footer*@
	<div class="card-footer">
		<button type="button" class="btn btn-secondary text-white bi bi-arrow-90deg-left" @onclick="Volver"> </button>
	</div>
</div>

@code {

	[Parameter]
	public int TecnicoId { get; set; }

	public Tecnicos Tecnico { get; set; } = new Tecnicos();

	protected override async Task OnInitializedAsync()
	{
		Tecnico = await tecnicoService.Buscar(TecnicoId);
	}

	public void Volver()
	{
		navigation.NavigateTo("/Tecnicos/Index");

	}
}