@page "/Tecnicos/Details/"
@page "/Tecnicos/Details/{TecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnico
@inject NavigationManager navigation


<PageTitle>Detalles Técnico</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header bg-danger text-white text-center">
			<h3><strong>Detalles técnico:</strong></h3>
		</div>
	</div>
	@*Body*@
	<div class="card-body">
		<h5><strong>Detalles del técnico:</strong></h5>
		@if (Tecnico != null)
		{
			@*Datos*@
			<div class="mb-1">
				@*TecnicoId*@
				<p class="mb-0">Técnico Id: @Tecnico.TecnicoId</p>
				<div class="mb-1">
					@*NombreTecnico*@
					<p class="mb-0">Nombre tecnico: @Tecnico.NombreTecnico</p>
				</div>
				<div class="mb-1">
					@*SueldoHora*@
					<p class="mb-0">Sueldo por hora: @Tecnico.SueldoHora</p>
				</div>
			</div>

		}
	</div>
	@*Footer*@
	<div class="card-footer">
		<button type="button" class="btn btn-secondary text-white bi bi-arrow-90deg-left" @onclick="Volver"> </button>
	</div>
</div>

@code {

	[Parameter]
	public int TecnicoId { get; set; }

	public Tecnicos Tecnico { get; set; } = new Tecnicos();

	protected override async Task OnInitializedAsync()
	{
		Tecnico = await tecnico.Buscar(TecnicoId);
	}

	public void Volver()
	{
		navigation.NavigateTo("/Tecnicos/Index");

	}
}